//*****/
.modalOverlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1005 !important;
  background-color: rgba(41, 57, 77, 0.4);
}
.modalContentAfterOpen {
  .modal {
    top: 0;
    opacity: 1;
  }
}
.modalContentBeforeClose {
  .modal {
    top: 30%;
    opacity: 0;
  }
}
.modalContent {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border: none;
  background: transparent;
  border-radius: 4px;
  outline: none;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal {
  font-family: Roboto;
  position: relative;
  padding: 10px 20px 20px;
  width: 80vw;
  min-height: 300px;
  opacity: 0;
  background: #f8f9fa;
  box-shadow: 0px 0px 10px rgba(41, 57, 77, 0.25);
  border-radius: 5px;
  transition: all 200ms ease-in-out;
}
.smModal {
  width: 50vw;
  min-height: auto;
}
////////
.modal_header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &_left {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &_right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }

  &_sep {
    width: 1px;
    height: 28px;
    background-color: #d8dde2;
  }
}

.modal_title {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}

.modal_close {
  cursor: pointer;
  color: #6d7f92;
}

.modal_header_edit {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 12px;
  border: 0.5px solid #b2bcc6;
  background: #f1f2f4;
  cursor: pointer;
}

.modal_confirm {
  &_icon {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    border-radius: 200px;
    background: #f1f2f4;
  }
  &_title {
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    text-align: center;
  }

  &_txt {
    color: #fc5d2b;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    margin: 10px 0;
  }

  &_actions {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.btn {
  display: flex;
  padding: 8px 14px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;

  color: #29394d;
  background-color: #fff;

  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;

  &_alt {
    border: 0.5px solid #29394d;

    &:hover {
      background-color: #f1f2f4;
    }
  }

  &_black {
    color: #ffffff;
    background-color: #29394d;
  }
}
