.title {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  margin-bottom: 10px;

  span {
    font-weight: 400;
  }
}

.subtitle {
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}

.textContent {
  display: block;
  width: 100%;
  padding: 8px 10px;
  border-radius: 12px;
  border: 0.5px solid #b2bcc6;
  background: #ffffff;
  box-sizing: border-box;
  margin: 0;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  &.notop_radius {
    border-radius: 0 0 12px 12px;
  }
}

.textPreview {
  display: block;
  width: 100%;
  padding: 8px 10px;
  border-radius: 12px;
  border: 0.5px solid #b2bcc6;
  background: #ffffff;
  box-sizing: border-box;
  min-height: 300px;
}

.textarea {
  min-height: 300px;
}

.actionList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 340px;

  &_item {
    border-radius: 8px;
    border: 0.5px solid #e1e4e8;
    background: #f1f2f4;
    padding: 8px 10px;
    cursor: pointer;

    &:hover {
      border-color: #29394d;
    }
  }

  &_title {
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 5px;
  }

  &_desc {
    color: #6d7f92;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
  }
}

.articleList {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0 !important;

  &_active {
    color: #18a0fb;
    font-weight: 600;
  }

  li {
    display: flex;
    align-items: center;
    cursor: pointer;
    min-width: 140px;
  }
}

.articleContainer {
  min-width: 50vw;
  max-width: 100%;
  overflow: scroll;
  max-height: 70vh;
  padding-bottom: 50px;
}

.container {
  min-width: 540px;
  max-width: 100%;
  overflow: scroll;
  min-height: 490px;
  max-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.article_actions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  gap: 10px;

  &_left {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 100%;

    &_select {
      flex: 1;
    }
  }

  &_right button {
    min-width: 160px;
  }
}

.actions {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  background-color: #fff;
}

.topBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;

  &_right {
    display: flex;
    align-items: center;
    gap: 5px;
  }
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
}

.tamtamIt {
  display: flex;
  gap: 5px;
  margin-bottom: 10px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  display: block;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
}

.box {
  display: flex;
  gap: 20px;
  min-width: 60vw;

  &_left {
    width: 50%;
  }

  &_right {
    width: 50%;
    padding-left: 20px;
    border-left: 1px solid #e1e4e8;
  }
}

.prompts {
  overflow-y: scroll;
  margin-top: 20px !important;
  display: block;
  max-height: 50vh;
}

.prompt {
  border-radius: 8px;
  border: 0.5px solid #b2bcc6;
  background: #f1f2f4;
  margin-bottom: 10px;
  cursor: pointer;
  padding: 10px;

  &:hover {
    background-color: #e1e4e8;
  }

  &_active {
    background-color: #ffffff;
    border-color: #18a0fb;
    box-shadow: 0 2px 8px 0 rgba(41, 57, 77, 0.25);
  }

  h4 {
    display: flex;
    gap: 5px;
    margin-bottom: 5px;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
  }

  .date {
    color: #6d7f92;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}

.triggerContainer {
  position: relative;
  display: inline-block;
}

.popoverContent {
  display: none; /* Initially hide the popover */
  position: absolute;
  top: 100%; /* Position below the trigger element */
  right: 0;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 1000; /* Ensure the popover appears above other content */
  min-width: 45vw;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.triggerElement {
  cursor: pointer;
}

.triggerContainer:hover .popoverContent {
  display: block;
}

.tabs {
  display: flex;
  background-color: #e1e4e8;
  border-radius: 8px;
  padding: 2px;
  margin: 10px 0 !important;
  gap: 2px;

  &_item {
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    min-width: 110px;
    width: 25%;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;

    &:hover,
    &.active {
      // border: 3px solid #e1e4e8;
      background-color: #fff;
    }
  }
}

.alt_tabs {
  display: flex;

  &_item {
    font-size: 12px;
    font-weight: 600;
    line-height: 140%;
    border-bottom: 2px solid #fff;
    cursor: pointer;
    padding: 5px 10px;
    min-width: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    &:hover,
    &.active {
      border-color: #29394d;
    }
  }
}

.tab_plus {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 8px;
  border: 0.5px solid #b2bcc6;
  cursor: pointer;
  margin-left: 10px;
}

.resultContainer {
  padding: 10px;
  border-radius: 8px;
  border: 0.5px solid #b2bcc6;
  overflow: scroll;
  height: 300px;
}

.itemResult {
  padding: 10px;
  border-radius: 8px;
  border: 0.5px solid #b2bcc6;
  margin-top: 10px;
  min-height: 70px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;

  &.active {
    border-color: #18a0fb;
    background-color: #f3faff;
  }

  &_add_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    background-color: #fff;
    border: 1px solid #18a0fb;
    color: #18a0fb;
    flex-shrink: 0;
    cursor: pointer;
  }

  &_check_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    background-color: #fff;
    border: 1px solid #18a0fb;
    color: #18a0fb;
    flex-shrink: 0;
    cursor: pointer;

    &_2 {
      display: none;
    }

    &:hover {
      border-color: #fc5d2b;
      color: #fc5d2b;

      .itemResult_check_icon_1 {
        display: none;
      }
      .itemResult_check_icon_2 {
        display: flex;
      }
    }
  }
}

.result_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;

  &_left {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  &_right {
    display: flex;
    align-items: center;
    gap: 5px;
  }
}

.result_actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.update_instruction {
  position: relative;
}

.update_arrow {
  display: flex;
  width: 32px;
  height: 32px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background: #b2bcc6;
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 999;
  cursor: pointer;

  &.active {
    background-color: #18a0fb;
  }
}

.result_used {
  padding: 8px 10px;
  border-radius: 8px;
  background: #f3faff;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
}

.resultLink {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: underline;
  margin: 10px 0;
  color: #29394d;
}

.update_instruction_alt {
  margin-top: 10px;

  &_actions {
    margin-top: 5px;
    display: flex;
    align-items: center;
    gap: 10px;

    button {
      flex: 1;
      border-radius: 8px;
      border: 1px solid #b2bcc6;
      background: #fff;
      font-size: 12px;
      font-style: normal;
      font-weight: 600;
      line-height: 140%;
      color: #18a0fb;
      padding: 8px;
      cursor: pointer;
    }
  }
}

.pointer {
  cursor: pointer;
}

.medias_list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  &_item {
    padding: 10px;
    width: 45%;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: 0.5px solid #b2bcc6;
    background: #fff;
  }
}
.mediaContent {
  width: 100%;
  height: 100px;
  overflow: hidden;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.pictureCover {
  height: 278px;
  border: 0.5px solid var(--gris-1, #b2bcc6);
  background: lightgray 50% / cover no-repeat;
}
